*.exe
server/n3w/server
server/n3w/load
server/n3w/contexts/contexts.json
*.vlog
*.sst
server/n3w/contexts/user01/mySchool/crdt/recv/LOCK
server/n3w/contexts/user01/mySchool/crdt/recv/MANIFEST
server/n3w/contexts/user01/mySchool/crdt/send/LOCK
server/n3w/contexts/user01/mySchool/crdt/send/MANIFEST
server/n3w/contexts/user01/mySchool/d6/LOCK
server/n3w/contexts/user01/mySchool/d6/MANIFEST
server/n3w/contexts/user01/mySchool/d6/sbf/featureLinks.sbf
server/n3w/contexts/user01/mySchool/crdt/config/datatypes.toml
server/n3w/contexts/user01/mySchool/d6/config/datatypes.toml
server/n3w/results.json
server/n3w/d6query.txt
*.TODO
server/n3w/n3w
server/n3w/recover_log.json
server/n3w/token.json
server/n3w/contexts/mattf/mySchool2/crdt/config/datatypes.toml
server/n3w/contexts/mattf/mySchool2/crdt/recv/LOCK
server/n3w/contexts/mattf/mySchool2/crdt/recv/MANIFEST
server/n3w/contexts/mattf/mySchool2/crdt/send/LOCK
server/n3w/contexts/mattf/mySchool2/crdt/send/MANIFEST
server/n3w/contexts/mattf/mySchool2/d6/config/datatypes.toml
server/n3w/contexts/mattf/mySchool2/d6/LOCK
server/n3w/contexts/mattf/mySchool2/d6/MANIFEST
*.sbf
server/n3w/contexts/mattf/mySchool2/gql/schema.json
server/n3w/contexts/nsipDemo/mySchool2/crdt/config/datatypes.toml
server/n3w/contexts/nsipDemo/mySchool2/crdt/recv/LOCK
server/n3w/contexts/nsipDemo/mySchool2/crdt/recv/MANIFEST
server/n3w/contexts/nsipDemo/mySchool2/crdt/send/LOCK
server/n3w/contexts/nsipDemo/mySchool2/crdt/send/MANIFEST
server/n3w/contexts/nsipDemo/mySchool2/d6/config/datatypes.toml
server/n3w/contexts/nsipDemo/mySchool2/d6/LOCK
server/n3w/contexts/nsipDemo/mySchool2/d6/MANIFEST
server/n3w/contexts/nsipDemo/mySchool2/gql/schema.json
server/n3w/contexts/nsipDemo2/mySchoolB/crdt/config/datatypes.toml
server/n3w/contexts/nsipDemo2/mySchoolB/crdt/recv/LOCK
server/n3w/contexts/nsipDemo2/mySchoolB/crdt/recv/MANIFEST
server/n3w/contexts/nsipDemo2/mySchoolB/crdt/send/LOCK
server/n3w/contexts/nsipDemo2/mySchoolB/crdt/send/MANIFEST
server/n3w/contexts/nsipDemo2/mySchoolB/d6/config/datatypes.toml
server/n3w/contexts/nsipDemo2/mySchoolB/d6/LOCK
server/n3w/contexts/nsipDemo2/mySchoolB/d6/MANIFEST
server/n3w/contexts/nsipDemo2/mySchoolB/gql/schema.json
server/n3w/contexts/n3Demo/mySchool/crdt/config/datatypes.toml
server/n3w/contexts/n3Demo/mySchool/crdt/recv/LOCK
server/n3w/contexts/n3Demo/mySchool/crdt/recv/MANIFEST
server/n3w/contexts/n3Demo/mySchool/crdt/send/LOCK
server/n3w/contexts/n3Demo/mySchool/crdt/send/MANIFEST
server/n3w/contexts/n3Demo/mySchool/d6/config/datatypes.toml
server/n3w/contexts/n3Demo/mySchool/d6/LOCK
server/n3w/contexts/n3Demo/mySchool/d6/MANIFEST
server/n3w/contexts/n3Demo/mySchool/gql/schema.json
server/n3w/sequence.json
server/n3w/.env
server/n3w/tools/load
